.postCard{
	margin: 100px 200px 100px 200px;
	background-color: black;
	color: white;
	border-radius: 10px;
	padding: 15px 25px 75px 25px;
}
#mainBody{
	background-color: pink;
}
.postTitle{
	text-align: center;
}
#button{
	margin: 10px 20px 0px 0px;
}
#create-post{
	margin: 80px 100px 20px 100px;
}
#titleid{
	width: 100%;
}

.label{
	color: white;
	text-align: center;
}
